<!-- ABOUT THIS PROJECT MODAL: -->
<ng-template #aboutModal let-modal>
    <div class="aboutModalHeader">
        <h4>About this project</h4>
        <hr>
    </div>
    <div class="aboutModalBody">
        <!-- TODO: Update 'About this project' text -->
        <p>
          This project demonstrates my ability to navigate large, complex JSON objects and translate the contents into values that are dynamically displayed into a responsive UI. "Complex" JSON includes a wide variance of data types and often layers of nested arrays and/or other nested object structures.

          Parsing JSON and drilling into the resulting JavaScript object is a critical skill to have for any frontend role. Keeping in mind items such as: JSON keys will not always be in the same order, certain keys may not always be present, arrays can vary in length, etc., essentially writing frontend code that is not "fragile", but instead capable of handling JSON responses which may vary significantly in order and size from call to call.

          In addition to highlighting this framework agnostic, core skillset, this project also showcases my ability to work within the Angular framework. I utilized structural directives (ngFor, ngIf) to dynamically render html templates, while taking advantage of built-in pipes for typical data transformations. In Typescript, I have demonstrated my ability to leverage the scalability of Angular "services" by outsourcing component logic into reusable service functions.

          Enjoy some fun, Harry Potter" themed challenges while you check out my portfolio piece!
        </p>
    </div>
    <div class="aboutModalFooter">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<!-- MAIN CONTENT: -->
<div *ngIf="dataRetrievalComplete" class="row">
    <!-- HEADER AREA: -->
    <div class="col-12">
        <div class="headerContainer">
            <h1>JSON Demostration</h1>
            <button (click)="triggerModal(aboutModal)" type="button" class="btn btn-link">About this project</button>
        </div>
    </div>
    <!-- CHARACTER TILES: -->
    <!-- Display Harry and Lord Voldemort character cards at the top of the page: -->
    <div *ngFor="let interactiveCharacter of interactiveCharacters | keyvalue" class="col-12 col-sm-6">
        <div class="buttonContainer">
            <!-- TODO: Complete Bonus Challenge 1: -->
            <button *ngIf="interactiveCharacter.value.first_name === 'Harry'" type="button"
                class="btn btn-primary interactiveButton" (click)='harrysGlassesAreRepaired = true'>
                "Oculus Reparo"
                <br />
                <span class="buttonSmallText">(Repair Harry's glasses)</span>

            </button>
            <!-- TODO: Complete Bonus Challenge 2: -->
            <button *ngIf="interactiveCharacter.value.first_name === 'Lord'" type="button"
                class="btn btn-danger interactiveButton" (click)='voldemortIsCensored = true'>
                Censor His name
                <br />
                <span class="buttonSmallText">(Recommended for safety)</span>

            </button>
        </div>
        <div class="characterCard">
            <h2>{{voldemortIsCensored && interactiveCharacter.value.first_name == 'Lord' ? interactiveCharacter.value.alternate_name2 : interactiveCharacter.value.first_name + " " + interactiveCharacter.value.last_name }}</h2>
            <img [attr.src]='harrysGlassesAreRepaired == true && interactiveCharacter.value.first_name === "Harry" ? interactiveCharacter.value.alternate_photo : interactiveCharacter.value.default_photo'
                [attr.alt]="interactiveCharacter.value.first_name+' '+interactiveCharacter.value.last_name"
                class="characterImage" />
            <!-- TODO: Only if interactive character is a student, show class list: -->
            <div *ngIf="interactiveCharacter.value.is_student" class="row classCategoryRow">
              <!-- Currently working on this section -->
                <div class="col-12 classCategory">
                    <h4>Core classes:</h4>
                    <!-- TODO: Replace interactive character hard-coded Title & Professor values -->
                    <ul  class="coreClassesUl">
                        <li *ngFor="let classNames of interactiveCharacter.value.student_classlist.core_classes">
                            <b>Class: </b>
                            {{classNames.class_name}}

                            <br />
                            <b>Professor: </b>
                            {{classNames.professor}}

                        </li>
                    </ul>
                </div>

                <div   class="col-12 classCategory">
                    <h4>Electives:</h4>

                    <!-- TODO: Replace interactive character hard-coded Title & Professor values -->
                    <ul   class="electivesUl">
                        <li *ngFor="let electives of interactiveCharacter.value.student_classlist.electives">
                            <b>Class:</b>
                            {{electives.class_name}}
                            <br />
                            <b>Professor: </b>
                            {{electives.professor}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Display the remaining character cards (i.e. Anyone who isn't Harry or Lord Voldemort): -->
    <div *ngFor="let nonInteractiveCharacter of nonInteractiveCharacters | keyvalue" class="col-12 col-sm-6">
        <div class="characterCard nonInteractiveCharacterCard">
            <h2>{{ nonInteractiveCharacter.value.first_name + " " + nonInteractiveCharacter.value.last_name }}</h2>
            <img [attr.src]="nonInteractiveCharacter.value.default_photo"
                [attr.alt]="nonInteractiveCharacter.value.first_name+' '+nonInteractiveCharacter.value.last_name"
                class="characterImage" />
            <!-- TODO: Only if non-interactive character is a student, show class list: -->
            <div *ngIf="nonInteractiveCharacter.value.is_student" class="row classCategoryRow">
                <div class="col-12 classCategory">
                    <h4>Core classes:</h4>
                    <!-- TODO: Replace non-interactive character hard-coded Title & Professor values -->
                    <ul  class="coreClassesUl">
                        <li *ngFor="let className of nonInteractiveCharacter.value.student_classlist.core_classes">
                            <b>Class: </b>
                            {{className.class_name}}
                            <br />
                            <b>Professor: </b>
                            {{className.professor}}
                        </li>
                    </ul>
                </div>
                <div class="col-12 classCategory">
                    <h4>Electives:</h4>
                    <!-- TODO: Replace non-interactive character hard-coded Title & Professor values -->
                    <ul  class="electivesUl">
                        <li *ngFor="let elective of nonInteractiveCharacter.value.student_classlist.electives">
                            <b>Class: </b>
                            {{elective.class_name}}
                            <br />
                            <b>Professor: </b>
                            {{elective.professor}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER AREA: -->
    <div class="col-12">
        <div class="footerContainer">
            <!-- TODO: Personalize footer content -->
            <p>Expelliarmus!</p>
        </div>
    </div>
</div>
